
[Unit]
Description=gowerline service
After=network.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=%h/.gowerline/bin/gowerline server run -c %h/.gowerline/gowerline.yaml -p %h/.gowerline/plugins

[Install]
WantedBy=multi-user.target